@using Domain.Entities;
@model InfoUserForAdminModel

<div class="pt-5"></div>
<div class="pt-5"></div>

@if (Model != null)
{
    <div class="d-flex justify-content-center align-items-center"> 
        <form class="p-2 mx-auto col-6 " asp-controller="AdminUser" asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-light text-danger border border-danger rounded mt-2" role="alert"></div>
            <h1 class="text-center pt-5 mb-4">Tem certeza que deseja excluir este usuário?</h1>
            <div class="container  border rounded ">
                <input type="hidden" name="userId" value="@Model.Id" class="form-control" required />
                <div class="row mt-3">
                    <div class="col">
                        <label class="form-label" asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" disabled />
                    </div>
                    <div class="col">
                        <label class="form-label" asp-for="UserRole"></label>
                        <input asp-for="UserRole" class="form-control" disabled />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <label class="form-label" asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" disabled />
                    </div>
                    <div class="col">
                        <label class="form-label" asp-for="Surname"></label>
                        <input asp-for="Surname" class="form-control" disabled />
                    </div>
                </div>

                <div class="row mt-3 mb-3">
                    <div class="col">
                        <label class="form-label" asp-for="BirthDate"></label>
                        <input asp-for="BirthDate" class="form-control" disabled />
                    </div>
                    <div class="col">
                        <label class="form-label" asp-for="Gender"></label>
                        <input asp-for="Gender" class="form-control" disabled />
                    </div>
                </div>


            </div>
            <a asp-area="Admin" asp-controller="AdminUser" asp-action="Index" class="btn btn-primary mt-3 m-2">Voltar</a>
            <button type="submit" class="btn btn-danger mt-3 m-2">Excluir</button>
        </form>
    </div>
}
else
{
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <div class="pt-5"></div>
    <h1 class="pt-5 text-center">Usuário não encontrado.</h1>
}

