@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Seja bem-vindo</h1>
        <p>Este é um projeto em construção!</p>
    </div>
</div>
