<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>


<h1 class="pt-5 text-center">Confirmação de cancelamento</h1>

<div class="text-center mt-5">
    <p>O pagamento foi cancelado durante o processamento!</p>
    <p>Caso tenha cometido um erro, reinicie o processo novamente.</p>
</div>
<meta http-equiv="refresh" content="15;url=/Home/Index">
