<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>


<p class="display-5 text-center">Ocorreu um erro durante a sua solicitação.</p>

@if (TempData["MessageError"] != null)
{
    <div class="alert alert-light text-danger mt-5 text-start" role="alert">
        @TempData["MessageError"]
    </div>
}




@* 
Esta página exibe os erro com base nos erros recebidos do view.data *@