@{
    ViewData["Title"] = "Confirmação de Conta";
}

<h1 class="text-center pt-5">Confirmação de Conta</h1>

<form class="text-center" asp-controller="Account" asp-action="ConfirmarEmail" method="post">
    @if (ViewBag.ShowEmailSuccessMessage != null && ViewBag.ShowEmailSuccessMessage == true)
    {
        <div class="alert alert-success mt-1 w-auto">
            Foi enviado um link para a verificação de conta para o email cadastrado.
        </div>
        <meta http-equiv="refresh" content="10;url=/Home/Index">
    }
    <h5 class="mt-5">Selecione o campo que deseja verificar:</h5>
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (ViewBag.IsEmailConfirmed != null && ViewBag.IsEmailConfirmed)
    {      
        <div class="form-check form-check-inline mt-1">
            <label class="form-check-label text-success">
                Este email está verificado
            </label>
        </div>
    }
    else
    {
        <div class="form-check form-check-inline mt-1">
            <input class="form-check-input" type="checkbox" id="emailConfirmation" name="Email" value="true">
            <label class="form-check-label" for="emailConfirmation">
                Confirmar Email
            </label>
        </div>

        <button type="submit" id="confirmButton" class="btn btn-primary mt-1" disabled>Confirmar</button>

    }   
</form>


<script>  
    document.getElementById("emailConfirmation").addEventListener("change", function () {
        var confirmButton = document.getElementById("confirmButton");
        
        if (this.checked) {
            confirmButton.removeAttribute("disabled");
        } else {
            confirmButton.setAttribute("disabled", "disabled"); 
        }
    });
</script>
