@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir Senha";
}

<h1 class="mt-5">Redefinir Senha</h1>

<form class="mt-5" asp-controller="Account" asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage == true)
    {
        <div class="alert alert-success mt-1 w-auto">
            A senha foi redefinida com sucesso!
        </div>
        <meta http-equiv="refresh" content="7;url=/Account/Login">
    }
    <input type="hidden" name="Token" value="@ViewBag.Token" />
    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
    
    <div class="form-group">
        <label for="NewPassword">Nova Senha</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Confirmar Nova Senha</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Redefinir Senha</button>
</form>
