@model UpdatePasswordModel

<div class="pt-5"></div>

<h1 class="text-center pt-5">Atualizar Senha</h1>
<div class="container  border rounded mt-5">
    <form class="mt-5" asp-controller="Account" asp-action="UpdatePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-light text-danger border border-danger rounded mt-2" role="alert"></div>       
        <div class="form-group">
            <label asp-for="CurrPassword"></label>
            <input class="form-control" asp-for="CurrPassword" placeholder="Insira sua senha atual" required>
            <span asp-validation-for="CurrPassword" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="NewPassword"></label>
            <input class="form-control" asp-for="NewPassword" placeholder="Insira a nova senha" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirme a nova senha" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <a asp-controller="Account" asp-action="InfoUser" class="btn btn-primary mt-3 m-2"><i class="bi bi-arrow-return-left mx-2"></i>Voltar</a>
        <button type="submit" class="btn btn-success mt-3 m-2"><i class=" bi bi-cloud-upload mx-2"></i>Atualizar senha</button>
    </form>
</div>


@* 
# Documentação da View 'Atualizar Senha'

## Propósito:
Esta view é usada para permitir que os usuários atualizem sua senha em um aplicativo web. Os usuários podem inserir sua senha atual, nova senha e confirmar a nova senha.

## Estrutura:
- A view começa com uma margem superior (`<div class="pt-5"></div>`) para criar espaço vertical na página.
- Um título centrado "Atualizar Senha" (`<h1>`) é exibido para indicar o propósito da página.
- Um formulário (`<form>`) é usado para enviar a solicitação de atualização de senha para o servidor.
- O formulário tem um atributo `asp-controller` e `asp-action` que especificam o controlador e a ação que lidarão com a solicitação.
- A view verifica se há uma mensagem de sucesso na ViewBag (`ViewBag.SuccessMessage`) e, se houver, exibe uma mensagem de sucesso.
- A mensagem de sucesso informa ao usuário que a senha foi atualizada com sucesso e é acompanhada por um botão "Voltar" que redireciona o usuário para a página de detalhes da conta após um segundo.
- O formulário contém os seguintes campos de entrada:
  - "Senha Atual" (`<input asp-for="CurrPassword">`) onde o usuário insere sua senha atual.
  - "Nova Senha" (`<input asp-for="NewPassword">`) onde o usuário insere a nova senha desejada.
  - "Confirmar Nova Senha" (`<input asp-for="ConfirmPassword">`) onde o usuário confirma a nova senha.
- Abaixo do campo "Confirmar Nova Senha", há um campo de validação (`<span asp-validation-for="ConfirmPassword" class="text-danger">`) que exibe mensagens de erro de validação relacionadas à confirmação da nova senha.
- Há também dois botões:
  - "Voltar" (`<a asp-controller="Account" asp-action="InfoUser">`) permite que o usuário retorne à página de detalhes da conta.
  - "Atualizar Senha" (`<button type="submit">`) envia a solicitação de atualização de senha para o servidor.

## Comportamento:
- O usuário deve preencher todos os campos do formulário corretamente para que a atualização de senha seja permitida.
- Se a atualização de senha for bem-sucedida, uma mensagem de sucesso é exibida e o usuário é redirecionado para a página de detalhes da conta.
- Se ocorrerem erros de validação, as mensagens de erro são exibidas ao lado do campo apropriado.

## Dependências:
- Esta view depende de uma estrutura web ASP.NET.
- O modelo `UpdatePasswordModel` é usado para realizar a atualização de senha.
- As mensagens de sucesso e erro são gerenciadas por meio da ViewBag.

## Notas Adicionais:
- A validação de senha deve ser implementada adequadamente no controlador para garantir que a nova senha atenda aos critérios de segurança desejados.
- As mensagens de erro de validação podem ser personalizadas para fornecer feedback específico ao usuário sobre o motivo pelo qual a atualização de senha falhou, se aplicável.
 *@