
@if (ViewBag.ShowSuccessMessage != null && ViewBag.ShowSuccessMessage == true)
{
    <h1 class="pt-5 text-center">Confirmação de Email</h1>

    <div class="text-center">
        <p>Obrigado por confirmar seu email!</p>
        <p>Agora você pode aproveitar todos os recursos da nossa plataforma.</p>
    </div>
    <meta http-equiv="refresh" content="3;url=/Home/Index">
}