
<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>

<h1 class="text-center pb-5 text-warning"><i class="bi bi-star-fill mx-2"></i>Área do administrador</h1>
<div class="container">
    <div class="container mt-5 col-8">          
        <a class="btn  btn-warning m-2" asp-area="Admin" asp-controller="AdminRole" asp-action="Index">Gerenciar privilégios</a>
        <a class="btn  btn-warning m-2" asp-area="Admin" asp-controller="AdminUser" asp-action="Index">Gerenciar usuários</a>
        <a class="btn  btn-warning m-2" asp-area="Produtos" asp-controller="Produtos" asp-action="SaveProduct">Cadastrar um novo produto na loja</a>
     </div>

    <div class="container mt-5 col-8 ">
        <a class="btn  btn-primary mx-2" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
    </div>
</div>