@using Domain.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Produtos" asp-controller="Produtos" asp-action="ProductsPaid" method="get">
        <input type="hidden" name="value" value="" />
        <button type="submit" class="btn bg-light position-relative custom-link"><i class="bi bi-house-check-fill mx-2"></i>Pedidos</button>
    </form>
    <form asp-area="Produtos" asp-controller="Produtos" asp-action="FavoriteCard" method="get">
        <input type="hidden" name="value" value="" />
        <button type="submit" class="btn bg-light position-relative custom-link"><i class="bi bi-heart-fill text-danger mx-2"></i>Favoritos</button>
    </form>
    <form asp-area="Produtos" asp-controller="Produtos" asp-action="ShoppingCart" method="get">
        <input type="hidden" name="value" value="" />
        <button type="submit" class="btn bg-light position-relative custom-link"><i class="bi bi-cart3 mx-2 text-info"></i>Carrinho de compras</button>
    </form>
    @if (User.IsInRole("Admin"))
    {
        <a class="nav-link text-warning custom-link mx-2 " asp-area="Admin" asp-controller="Admin" asp-action="Index"><i class="bi bi-star-fill mx-2"></i>Área do administrador</a>
    }
             
    var user = await UserManager.GetUserAsync(User);
    <div class="btn-group">
        <button type="button" class="dropdown btn btn-success dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-check mx-1"></i>
            @if (string.IsNullOrWhiteSpace(user.FirstName))
            {
                @user.Email
            }
           @user.FirstName                     
        </button>

        <ul class="dropdown-menu dropdown-menu-end">          
            <li>
                <form asp-area="" asp-controller="Account" asp-action="MyAccount" method="get">
                    <button type="submit" class="dropdown-item ">
                        Conta
                    </button>
                </form>
            </li>
            <li>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item ">
                        Logout
                    </button>
                </form>              
            </li>              
        </ul>
    </div>          
}
else
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrar-se</a>
    <a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Login">Conectar-se</a>
}

