@model IdentityRole

<div class="pt-5"></div>
<div class="pt-5"></div>
<div class="pt-5"></div>

<div class="d-flex justify-content-center align-items-center ">
    <form class="p-2 mx-auto col-6 border rounded" asp-controller="AdminRole" asp-action="Delete" method="post">
        <div asp-validation-summary="All" class="alert-danger"></div>        
        <h1 class="text-center pt-5">Tem certeza que deseja excluir este privilégio?</h1>
       
        <div class="container">                
            <div class="row mt-3">
                <div class="col">
                    <input class="form-control" value="@Model.Name" disabled />
                    <input type="hidden" value="@Model.Id" />
                </div>               
            </div>                 
        </div>
        <a asp-area="Admin" asp-controller="AdminRole" asp-action="Index" class="btn btn-primary mt-3 m-2"><i class="bi bi-arrow-return-left mt-3 mx-2"></i>Voltar</a>
        <button type="submit" class="btn btn-danger mt-3 m-2">Excluir</button>
    </form>
</div>

